<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tus Libros</title>

  <!-- Fonts to support Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <!-- Icons to support Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <div id="root"></div>

  <script src="./lib/react.development.js" crossorigin="anonymous"></script>
  <script src="./lib/react-dom.development.js" crossorigin="anonymous"></script>
  <script src="./lib/material-ui.development.js" crossorigin="anonymous"></script>
  <script src="./lib/babel.min.js" crossorigin="anonymous"></script>
  <script src="./src/refreshbrowser.js" crossorigin="anonymous"></script>

  <!-- Libraries fallback -->
  <script>window.React || document.write('<script src="https://unpkg.com/react@16.11.0/umd/react.development.js">\x3C/script>')</script>
  <script>window.ReactDOM || document.write('<script src="https://unpkg.com/react-dom@16.11.0/umd/react-dom.development.js">\x3C/script>')</script>
  <script>window.MaterialUI || document.write('<script src="https://unpkg.com/@material-ui/core@4.6.1/umd/material-ui.development.js">\x3C/script>')</script>
  <script>window.Babel || document.write('<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js">\x3C/script>')</script>
  <!-- end fallback -->

  <script type="text/babel" type="module">
    include('./src/MuiComponents.js')
    include('./src/MuiStyles.js')

    include('./src/fetch.js')

    include('./src/components/MyToolBar.js')
    include('./src/components/CartCreationView.js')
    include('./src/components/CatalogView.js')
    include('./src/components/CartView.js')
    include('./src/components/App.js')
    include('./src/components/BookList.js')
    include('./src/components/EditableBookQuantity.js')
    include('./src/components/InputField.js')
    include('./src/components/ErrorView.js')

    ///////////////////////////////////////////////////////////////////////////
    // Initial render
    //
    ReactDOM.render(
      <ThemeProvider theme={theme}>
        <CssBaseline />
        <App />
      </ThemeProvider>,
      document.getElementById('root')
    )
  </script>

  <!-- <button onclick="window.location.reload(true)">reload</button> -->
</body>

</html>
